<%- model_class = Question -%>
<div class="page-header">
  <h3>自定义查询</h3>
</div>

<%= search_form_for @q do |f| %>
  <%= f.label '关键词:' %>
  <%= f.text_field :ask_cont %>
  <%= f.submit '查询',:class => 'btn btn-primary' %>
<% end %>

<div class="clearfix">
  <%= paginate @questions -%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
	  <th><%= model_class.human_attribute_name(:wx_mp_user_id) %></th>
	  <th><%= model_class.human_attribute_name(:ask) %></th>
	  <th><%= model_class.human_attribute_name(:match_type) %></th>
	  <th><%= model_class.human_attribute_name(:answer) %></th>
	  <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.wx_mp_user.name %></td>
        <td><%= question.ask %></td>
        <td><%= question.match_type_name %></td>
        <td><%= link_to('查看回复', [question, :answers]) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_question_path(question), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      question_path(question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix">
  <%= paginate @questions -%>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_question_path,
            :class => 'btn btn-primary' %>
