<%= form_tag sessions_path, class: 'form-horizontal' do %>
  <legend>微信平台管理系统</legend>
  <div class="control-group">
    <%= label_tag :nickname, '帐号', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag :nickname, params[:nickname], placeholder: '请输入您的帐号' %>(uzhe)
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :password, '密码', class: 'control-label' %>
    <div class="controls">
      <%= password_field_tag :password, nil, placeholder: '请输入您的密码' %>(111111)
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
<!--
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
-->
      <button type="submit" class="btn">登录</button>
    </div>
  </div>
<% end %>