<%- model_class = VipUser -%>
<div class="page-header">
  <h3>会员卡领取纪录</h3>
</div>

<%= search_form_for @q do |f| %>
  <%= f.label '名字:' %>
  <%= f.text_field :name_cont %>
  <%= f.label '地址:' %>
  <%= f.text_field :address_cont %>
  <%= f.submit '查询',:class => 'btn btn-primary' %>
<% end %>

<%= link_to '导出EXCEL',vip_users_path(:format => :xls,:q => params[:q]),:class => 'btn btn-primary' %><br/><br/>

<div class="clearfix">
  <%= paginate @vip_users -%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:mobile) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
	  <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vip_users.each do |vip_user| %>
      <tr>
        <td><%= link_to vip_user.id, vip_user_path(vip_user) %></td>
        <td><%= vip_user.name %></td>
        <td><%= vip_user.mobile %></td>
        <td><%= vip_user.address %></td>
		<td><%= vip_user.created_at %></td>
        <td><%= vip_user.status_name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vip_user_path(vip_user), :class => 'btn btn-mini' %>
          <% if vip_user.normal? %><%= link_to t('.freeze', :default => t("helpers.links.冻结")),
                      [:freeze,vip_user],
                      method: :post,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.你确定要冻结?", :default => '你确定要冻结?')) },
                      :class => 'btn btn-mini btn-danger' %><% end %>
	      <% if vip_user.freeze? %><%= link_to t('.normal', :default => t("helpers.links.解冻")),
			          [:normal, vip_user],
			          method: :post,
			          :data => { :confirm => t('.confirm', :default => t("helpers.links.你确定要解冻?", :default => '你确定要解冻?')) },
			          :class => 'btn btn-mini btn-danger' %><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="clearfix">
  <%= paginate @vip_users -%>
</div>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_vip_user_path,
            :class => 'btn btn-primary' %>
