<%= form_for @vip_card, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :supplier_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :supplier_id, Supplier.all.map{|supplier|[supplier.name, supplier.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wx_mp_user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :wx_mp_user_id, WxMpUser.all.map{|wx_mp_user|[wx_mp_user.name, wx_mp_user.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :background_pic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :background_pic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :logo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :cover_pic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cover_pic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vip_cards_path, :class => 'btn' %>
  </div>
<% end %>
