<%- model_class = VipCard -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:supplier_id) %></th>
      <th><%= model_class.human_attribute_name(:wx_mp_user_id) %></th>
      <th><%= model_class.human_attribute_name(:activity_id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:background_pic) %></th>
      <th><%= model_class.human_attribute_name(:logo) %></th>
      <th><%= model_class.human_attribute_name(:cover_pic) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vip_cards.each do |vip_card| %>
      <tr>
        <td><%= link_to vip_card.id, vip_card_path(vip_card) %></td>
        <td><%= vip_card.supplier.try(:name) %></td>
        <td><%= vip_card.wx_mp_user.try(:name) %></td>
        <td><%= vip_card.activity_id %></td>
        <td><%= vip_card.name %></td>
        <td><%= vip_card.background_pic %></td>
        <td><%= vip_card.logo %></td>
        <td><%= vip_card.cover_pic %></td>
        <td><%= vip_card.status %></td>
        <td><%= vip_card.description %></td>
        <td><%= vip_card.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vip_card_path(vip_card), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vip_card_path(vip_card),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vip_card_path,
            :class => 'btn btn-primary' %>
