<%- model_class = VipCard -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:supplier_id) %>:</strong></dt>
  <dd><%= @vip_card.supplier.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:wx_mp_user_id) %>:</strong></dt>
  <dd><%= @vip_card.wx_mp_user.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:activity_id) %>:</strong></dt>
  <dd><%= @vip_card.activity_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @vip_card.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:background_pic) %>:</strong></dt>
  <dd><%= @vip_card.background_pic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:logo) %>:</strong></dt>
  <dd><%= @vip_card.logo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cover_pic) %>:</strong></dt>
  <dd><%= @vip_card.cover_pic %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @vip_card.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @vip_card.description %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              vip_cards_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_vip_card_path(@vip_card), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              vip_card_path(@vip_card),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
