<%= form_for @material, validate: true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :material_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :material_type, Material.material_type_options, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, '标题', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pic, '封面', :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :pic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%#= f.label :summary, '摘要', :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :summary, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content, '正文', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, rows: 5, cols: 80, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :source_url, '来源', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_url, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                materials_path, :class => 'btn' %>
  </div>
<% end %>
