<div class="full-cotent-box">
  <div class="box-bar top-bar"><h2 class="headline-2-no-decoration">图文消息</h2></div>

  <div class="full-content-inner clearfix">
    <div class="dashboard-message-review fl">
      <div class="dashboard-view">
        <h4><%= @material.title %></h4>
        <p class="dashboard-time"><%= @material.created_at.to_date %></p>
        <%= image_tag @material.pic, size: '320x160' %>
        <div class="dashboard-copy"><p><%= @material.content %></p></div>
      </div>
      <span class="box-bar dashboard-view-btm"></span>
    </div>
<%= form_for @material do |f| %>
    <div class="compose-box fr">
      <div class="compose-cotent-box">
        <span class="box-bar top-bar"></span>
        <div class="compose-content-inner">
          <div class="row clearfix">
            <label class="landscape-label">标题*(必填,不能超过64个字)</label>
            <div class="form-field">
              <%= f.text_field :title, class: 'stardard-input st-long' %>
            </div>
          </div>
          <div class="row narrow-row clearfix">
            <label class="landscape-label clearfix">封面*(必须上传一张图片)<span class="label-tip fr">大图片建议尺寸：720像素*400像素</span></label>
            <div class="form-field">
              <input type="text" class="stardard-input st-long input-upload" disabled="true" />
              <a href="#" class="button-upload"><i class="icon icon_upload inline-block"></i><span class="inline-block label-upload">上传</span></a>
            </div>
          </div>

          <div class="row clearfix">
            <label class="landscape-label">摘要(不能超过120个字)</label>
            <div class="form-field">
              <%= f.text_area :summary, rows: 2, cols: 50 %>
            </div>
          </div>

          <div class="row narrow-row clearfix">
            <label class="landscape-label">正文*(必填,不能超过20000个字)</label>
            <div class="compose-editor-menu"><img src="/assets/compose_editor_placeholder.png" /></div>
            <div><%= f.text_area :content, class: 'input-compose-browser' %></div>
          </div>

          <div class="row clearfix">
            <label class="landscape-label">来源(请输入正确的URL链接格式)</label>
            <div class="form-field">
              <%= f.text_field :source_url, class: 'stardard-input st-long' %>
            </div>
          </div>
        </div>
        <span class="box-bar btm-bar"></span>
        <i class="icon icon_arrow"></i>
      </div>
      <div class="compose-action"><input type="image" src="/assets/button_preview.png" /><input type="image" src="/assets/button_done.png" /></div>
    </div>
<% end %>
  </div>

  <span class="box-bar btm-bar"></span>
</div>