<%= form_for @activity, validate: true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :keyword, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keyword, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wx_mp_user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :wx_mp_user_id, current_user.wx_mp_users.map{|wx_mp_user|[wx_mp_user.name,wx_mp_user.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activity_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :activity_type_id, ActivityType.where(is_show: true).map{|activity_type|[activity_type.name,activity_type.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ready_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ready_at, class: 'datetimepicker' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_at, class: 'datetimepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, class: 'datetimepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activities_path, :class => 'btn' %>
  </div>
<% end %>
