<%= form_for @activity, validate: true, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :keyword, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :keyword, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :wx_mp_user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :wx_mp_user_id, current_user.wx_mp_users.map{|wx_mp_user|[wx_mp_user.name,wx_mp_user.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activity_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :activity_type_id, ActivityType.where(is_show: true).map{|activity_type|[activity_type.name,activity_type.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :ready_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ready_at, class: 'datetimepicker' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :start_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :start_at, class: 'datetimepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_at, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :end_at, class: 'datetimepicker' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
    <%= f.text_field :status, :class => 'text_field' %>
  </div>

<%f.fields_for :activity_property do |activity_property|%>
  <div class="control-group">
    <%= f.label :activity_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :activity_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :activity_type_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prize_pic, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prize_pic, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :partake_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :partake_limit, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :day_partake_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :day_partake_limit, class: 'text_field' %>
		</div>
  </div>
  <div class="control-group">
    <%= f.label :prize_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :prize_limit, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :day_partake_limit, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :day_partake_limit, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :coupon_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :coupon_count, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :get_limit_count, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :get_limit_count, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :repeat_draw_msg, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :repeat_draw_msg, :class => 'text_field' %>
    </div>
  </div>
	<% end %>

	<%f.fields_for :activity_notices do |activity_notices|
		activity_notices.each do |activity_notice|
		%>
	
	  <div class="control-group">
	    <%= f.label :wx_mp_user_id, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :wx_mp_user_id, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :activity_id, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :activity_id, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :title, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :title, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :pic, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :pic, :class => 'text_field' %>
	    </div>
	  </div>
	  <div class="control-group">
	    <%= f.label :activity_status, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :activity_status, class: 'text_field' %>
			</div>
	  </div>
	  <div class="control-group">
	    <%= f.label :description, :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :description, class: 'text_field' %>
	    </div>
	  </div>
		<% end %>
		<% end %>

		<%f.fields_for :activity_prizes do |activity_prizes|
			activity_prizes.each do |activity_prize|
			%>
	
		  <div class="control-group">
		    <%= f.label :activity_id, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :activity_id, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :title, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :title, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :prize, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :prize, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :prize_count, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :prize_count, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :prize_rate, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :prize_rate, class: 'text_field' %>
				</div>
		  </div>
		  <div class="control-group">
		    <%= f.label :time_limit, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :time_limit, class: 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :limit_count, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :limit_count, class: 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :day_limit_count, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :day_limit_count, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :people_limit_count, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :people_limit_count, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :people_day_limit_count, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :people_day_limit_count, :class => 'text_field' %>
		    </div>
		  </div>
		  <div class="control-group">
		    <%= f.label :status, :class => 'control-label' %>
		    <div class="controls">
		      <%= f.text_field :status, :class => 'text_field' %>
		    </div>
		  </div>
			<% end %>
			<% end %>




  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                activities_path, :class => 'btn' %>
  </div>
<% end %>
