<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title><%= content_for?(:title) ? yield(:title) : "微营销" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-head sprits">
    <div class="header">
      <div class="header-master clearfix">
        <h1 class="logo fl"></h1>
        <div class="welcome-info fr">您好，<a href="#" class="user-name"><%= current_user.nickname %></a> <span class="seprator">|</span> <a href="/sign_out">退出</a></div>
      </div>

      <div class="nav">
        <ul>
          <li><a href="/" <%= current_page?(root_path) ? "class=active" : '' %>><span>首页</span></a></li>
          <li><a href="/websites" <%= controller_name == 'websites' ? "class=active" : '' %>><span>微官网</span></a></li>
          <li><a href="/activities" <%= controller_name == 'activities' ? "class=active" : '' %>><span>微营销</span></a></li>
          <li><a href="/vip_users" <%= controller_name == 'vip_users' ? "class=active" : '' %>><span>会员管理</span></a></li>
          <li><a href="/questions" <%= controller_name == 'questions' ? "class=active" : '' %>><span>智能客服</span></a></li>
          <li><a href="/materials" <%= controller_name == 'materials' ? "class=active" : '' %>><span>素材管理</span></a></li>
          <li class="end-li"><a href="/suppliers" <%= controller_name == 'suppliers' ? "class=active" : '' %>><span>系统设置</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="wrap">
    <div class="main clearfix">
      <%= yield %>
    </div>

    <div class="footer">
      <ul class="fl footer-link">
        <li><a href="#">关于</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">服务条款</a></li>
        <li><a href="#">隐私条例</a></li>
        <li><a href="#">帮助手册</a></li>
      </ul>
      <p class="copy-right">沪ICP备11019521号-1 Copyright © 2006-2012</p>
    </div>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>