<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title><%= content_for?(:title) ? yield(:title) : "微营销" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrap">
    <div class="main clearfix">
      <%= yield %>
    </div>

    <div class="footer">
      <ul class="fl footer-link">
        <li><a href="#">关于</a></li>
        <li><a href="#">联系方式</a></li>
        <li><a href="#">服务条款</a></li>
        <li><a href="#">隐私条例</a></li>
        <li><a href="#">帮助手册</a></li>
      </ul>
      <p class="copy-right">沪ICP备11019521号-1 Copyright © 2006-2012</p>
    </div>
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>